.h1{
    padding: 3em;
}

.row div{
    float: left;
    height: 100px; 
    width: 100px;
}

.row{
    clear: right;
    margin: auto; 
    width: 304px;
    cursor: pointer; 
}
 
.top{
    border-bottom: 2px goldenrod dotted; 
}

.bottom{
    border-top: 2px goldenrod dotted; 
}

.left{
    border-right: 2px goldenrod dotted; 
}

.right{
    border-left: 2px goldenrod dotted; 
}

 /* <!-- JS TTT test -->  */
.cell{
    width: 100px;
    height: 100px;
    /* background: lightblue; */
    font-size: 80px;
    vertical-align: middle;
}

body{
    background-image: url('file:///C:/Users/4mpl1f13d/Documents/Project/TicTacToe/TTT.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: steelblue;
    text-align: center;
}

#resetButton {
    background-color: white;
    border-radius: 6px;
}